*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 15px sans-serif;
}
.box{
    height: auto;
    width: 100%;
    background-color: #fff;
    font-weight: 800;
    line-height: 1.5;
}
.header{
    width: 100%;
    height: 120px;
    background-color: #f05626;
    position: relative;
    min-height: 3.25rem;
    z-index: 30;
}

.header_content{
    height: 100%;
    margin: auto;
    display: block;
    width: 78%;
    position: relative;
}
.head_top{
    height: 60px;
    display: flex;
    align-items: center;
    /* text-align: center; */
    padding: 1rem 0;
}
.head_top a{
    display: flex;
    margin: 0 15px;
    width: 13%;
    /* height: 40px; */
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.head_top #logo_header{
    margin-right: 55%;
}
.head_top #icons_header{
    margin: 5px;
}
.head_top a p {
    line-height: 2;
    margin: 2px;
}
.head_top a i{
    width: 20px;
}
#news{
    margin-left: 20px;
}
.head_search{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
    
.head_search{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.head_search a{color: #fff;
    text-decoration: none;}
#login_dangtin{
    margin: -3px 0;
}
.sbox {
    position: relative;
    width: 90%;
    }

.stext {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: none;
    /* font-size: 15pt; */
    float: left;
    color: black;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fa-magnifying-glass{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    margin-top: 12px;
    z-index: 2;
    color: #333;
}
.buttom_login{
    margin-left: 0px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.but{
    text-align: center;
    width: 190px;
}
.but2{
    width: 180px;
    border: 1px solid #fff;
    /* height: 55px; */
    text-align: center;
    line-height: 3;
    border-radius: 10px;
}
.buttom_login i{
    margin-right: 5px;
    width: 20px;
}
.buttom_login a{
    margin: 0 7px;
}
/* noi dung phan than */
.search_price{
    margin: 30px 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.search_price_contentner{
    box-shadow: 1px 1px 0px 2px #e9e5e5;
    /* border: 0px outset #fff; */
    border-radius: 10px;
    /* border: 1px solid #d8dbe0; */
    width: 78%;
    height: 100%;
    margin: auto;
}
.element{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.element h2{
    height: 50%;
    margin: 0 3%;
    line-height: 4;
    font-size: 15px;
    font-weight: bold;
}
.element_box{
    height: 50%;
    margin: 0 3%;
}

.element_box .tag button{
    text-decoration: none;
    margin-top: 5px;
    border: 1px solid #e2dfdf;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    margin-right: 5px;
    height: 30px;
    /* margin:10px 10px */
}
.element_box .tag button:hover{
    text-decoration: underline;
    color: red;
}
/* -------------------------------- */
.news{
    margin: 30px 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.new_content{
    width: 78%;
    height: 100%;
    margin: auto;
}
.new_content h2{
    font-size: 15px;
    font-weight: bold;
}
.row{
    margin-top: 20px;
}
.card-body{
    height: 200px;
}
.card-title{
    font-size: 15px;
    font-weight: bold;
}
.card-text{
    color: #818593;
    font-size: 13px;
}
.card-img-top{
    object-fit: cover;
    height: 200px;
}
#next_page{
    margin: auto;
    color: #f05626;
    font-weight: bold;
}
/* -------------------------------- */
.brand{
    margin: 30px 0;
    width: 100%;
    height: 1200px;
    background-color: #fff;
}
.brand_container{
    box-shadow: 1px 1px 0px 2px #e9e5e5;
    border-radius: 10px;
    width: 80%;
    height: 1195px;
    margin: auto;
}
.card_brand{
    box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.31);
    color: #23242A;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.element_brand{
    height: 2%;
    width: 100%;
}
strong{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.element_brand strong{
    margin-left: 3%;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}
.element_brandBox{
    margin-right: -53px;
    margin-left: 68px;
    margin-top: 15px;
    float: left;
}
.element_brandBox a img{
    width: 140px;
    height: 110px;
    float: left;
    margin-left: 44px;
}
.brand_item{
    height: 100%;
}
.element_brandBox .tag button{
    width: 210px;
    height: 160px;
    text-decoration: none;
    border: 1px solid #e2dfdf;
    color: #333;
    background-color: #fff;
}
.firstTen_brand{
    height: 352px;
}
.brand_name{
    font-size: 20px;
}
.more_brand{
    
}
.dong-vao{
    height: 70px;
}
.dong-vao_edit{
    color: #f05626;
    border: 0px solid #000;
    background-color: #FFF;
    font-size: 15px;
    font-weight: bold;
    margin-top: 22px;
    margin-left: 675px;
}
.angle-down{
    margin-left: 3px;
    margin-bottom: -4px;
    width: 19px;
}
#content.dong-vao{
    overflow: hidden;
}
#content.mo-ra{
    height: auto;
}
#toggleButton{
    display: block;
}