*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 25px sans-serif;
}
.box{
    height: auto;
    width: 100%;
    background-color: #fff;
    font-weight: 800;
    line-height: 1.5;
}
.header{
    width: 100%;
    height: 160px;
    background-color: #f05626;
    position: relative;
    min-height: 3.25rem;
    z-index: 30;
}

.header_content{
    height: 100%;
    margin: auto;
    display: block;
    width: 80%;
    position: relative;
}
.head_top{
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
}
.head_top a{
    margin: 0 15px;
    width: 13%;
    height: 60px;
    color: #fff;
    text-decoration: none;
}
.head_top a img {
    width: 100%;
}
.head_top a p {
    line-height: 2;
}
.head_top a i{
    width: 20px;
}
#news{
    margin-left: 20px;
}
.head_search{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
    
.head_search{
    margin: 10px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.head_search a{color: #fff;
    text-decoration: none;}

.sbox {
    position: relative;
    width: 60%;
    }

.stext {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: none;
    font-size: 15pt;
    float: left;
    color: black;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fa-magnifying-glass{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    margin-top: 10px;
    z-index: 2;
    color: #333;
}
.buttom_login{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.but2{
    width: 200px;
    border: solid #fff;
    height: 55px;
    text-align: center;
    line-height: 1.8;
}
.buttom_login i{
    width: 20px;
}
.buttom_login a{
    margin: 0 7px;
}
/* noi dung phan than */
.search_price{
    padding: 0 10px;
    margin: 30px 0;
    width: 100%;
    height: 160px;
    background-color: #fff;}
.search_price_contentner{
    box-shadow: 1px 1px 0px 4px #e9e5e5;
    /* border: 0px outset #fff; */
    border-radius: 10px;
    /* border: 1px solid #d8dbe0; */
    width: 80%;
    height: 160px;
    margin: auto;
}
.element{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.element h2{
    height: 40%;
    margin-left: 5%;
    line-height: 3;
    font-size: 30px;
    font-weight: bold;
}
.element_box{
    height: 60%;
    margin: 0 5%;
}

.element_box .tag button{
    text-decoration: none;
    margin-top: 20px;
    border: 1px solid #e2dfdf;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    margin-right: 30px;
    /* margin:10px 10px */
}