body{
    margin: 0;
    display: grid;
}
.login-padding{
    padding: 16rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #ebebeb;
}
.sign-in-page{
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}
.login-table{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    width: 30rem;
    background-color: #fff;
    box-shadow: 0 0 5rem rgba(255, 108, 108, 0.2);
}
.DOWN{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.uName-pWord{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}
.user-name{
    font-weight: 500;
}
.login-table .uName-pWord .form-control{
    width: 20rem;
    height: 2rem;
}
.rPassword-lButton{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.login-table .rPassword-lButton .form-check{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.login-button{
    background-color: #f05626;
    border: none;
    border-radius: 1rem;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
.login-padding .rPassword-lButton .col a{
    color: #f05626;
    text-decoration: none;
}
.login-padding .rPassword-lButton .col a:hover{
    color: #c52e00;
}
.login-padding .text-center a{
    color: #f05626;
    text-decoration: none;
}
.login-padding .text-center a:hover{
    color: #c52e00;
}
.login-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.login-padding .rPassword-lButton .center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login-padding .text-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login-padding .DOWN .space{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
}
.login-table .space .form-control2{
    width: 20rem;
    height: 2rem;
}
input:focus{
    outline: none;
}